.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.default-dataa {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 600px;
  align-items: center;
  text-align: center;
  margin-left: 300px;
}
