.navbar-heading{
    color: black;
    display: flex;
    flex: 1;
    justify-content: center;
}
.property-type{
    width: 160px;
    height: 120px;
    padding-left: 10px;
    padding-top: 5PX;
    background-color: #e2e1e3;
    margin-top: 70px;
   }